<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Anota tus útiles</h1>
            <h3 class="mb-5">
                <em>Nunca te olvides tus útiles otra vez!</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Empieza a hacer tu lista
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>